img {
  border-radius:  100px;
}
body {
    background: url(https://cbeditz.com/public/cbeditz/preview/light-sky-blue-gradient-background-wallpaper-hd-11614501737urxucrdnmz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    padding: 10px 10px;
    top: 0;
    background-color: rgb(237, 242, 245);
    font-size: larger;
    background-image: url(https://cbeditz.com/public/cbeditz/preview/light-sky-blue-gradient-background-wallpaper-hd-11614501737urxucrdnmz.jpg);
}
.nav-links {
  display: flex;
  gap: 30px;
}
#index {
  padding: 80px
}
h1 {
  font-size: 30px;
}
p {
  font-size: 15px;
}
.about-container {
    display: flex;  
    align-items: flex-start;
    gap: 40px; 
}
h2 {
  font-size: 20px;
}
.img-box img{
  width: 300px;
  height: 500px;
  border-radius: 0;
}
#about {
  font-size: 40px;
  text-align: center;
  margin-top: 40px;
}
.e01-box {
    border: solid 2px;
    width: 400px;
    height: 150px;
    text-align: center;
    background-color: rgb(206, 212, 214);
}
.e02-box {
    border: solid 2px;
    width: 400px;
    height: 150px;
    text-align: center;
    background-color: rgb(206, 212, 214);
}
.e03-box {
    border: solid 2px;
    width: 400px;
    height: 150px;
    text-align: center;
    background-color: rgb(206, 212, 214);
}
.education-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    
}
body {
    background-image: url(https://cbeditz.com/public/cbeditz/preview/light-sky-blue-gradient-background-wallpaper-hd-11614501737urxucrdnmz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.edu-event h3 {
    text-align: center;
    color: brown;
    font-size: large;
}
.edu-mentor h3 {
    text-align: center;
    color: brown;
    font-size: large;
}
body {
    background-image: url(https://cbeditz.com/public/cbeditz/preview/light-sky-blue-gradient-background-wallpaper-hd-11614501737urxucrdnmz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.content {
    font-size: larger;
}
.topic {
    font-size: 30px;
}




